body {
    background-image: url("background.png");
background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    align-items: left;
    align-content: left;
    justify-content: space-between;
    color: rgb(93, 113, 122);
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 3%;
    width: 65%;
}

.button {
    background: linear-gradient(90deg, #a196ff 0%, rgb(247, 91, 205) 100%);
    width: 250px;
    color: white;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.container2 {
    display: flexbox;
    flex-direction: row;
}
p {
    font-size: larger;
}

.next {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    justify-content: space-between;
    width: 10%;
}

.img {
    float: right;
    position: relative;
    bottom: 330px
    
}

  
.child1 {
    margin-top: 20;
    display: inline-block;
    margin-left: 1%;
    align-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: 250px;
}

.child2 {
    max-width: 50%;
    padding: 10px;
    margin-left: 18%;
    display: inline-block;
}

.cart {
    position: relative;
    left: 500px
}